rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Match any file in the root
    match /{allPaths=**} {
      // Deny all reads and writes by default
      allow read, write: if false;
    }

    // Allow public read access to all image folders
    match /student_photos/{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }

    match /school_logos/{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }

    match /signatures/{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }
  }
}
